<clr-tree-node *ngFor="let directory of directories" [clrTreeNodeExpanded]="directory.expanded">
  <clr-icon shape="directory" class="is-solid"></clr-icon>
  {{directory.name}}
  <clr-tree-node>
    <tree-view [directories]="directory.directories"></tree-view>
  </clr-tree-node>
  <clr-tree-node *ngFor="let file of directory.files">
    <button
      (click)="openFile(directory.name, file.name)"
      class="clr-treenode-link"
      [class.active]="file.active">
      <clr-icon shape="file"></clr-icon>
      {{file.name}}
    </button>
  </clr-tree-node>

</clr-tree-node>
